$tablet-width: 955px;
$desktop-width: 1150px;
$mobile-medium-width:380px;

@mixin mobile {
  @media (min-width: #{$mobile-medium-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
