ul#nav-account{
  width:250px;
}
ul#nav-account a{
  color: #444;
  display: block;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  /*background: #eceff1;*/
}

ul#nav-account a.collapsible-header{
  background: transparent;
}

ul#nav-account > li a{
  border-bottom: 1px solid #ddd;
}

ul#nav-account li.active-account > a{
  background: #cfd8dc;
}

ul#nav-account a:hover{
  color:#212121;
  text-decoration: underline;
}

ul#nav-account .collapsible-body li a {
    margin: 0 1rem 0 2rem;
}

/* Dashboard */
.dashboard-account{
  display: none;
}

.dashboard-account.active-account{
  display: block;
}

.dashboard-account .card{
  background: transparent;
  margin-top: 20px;
}

.dashboard-account .card-content{
  border-radius: 3px;
}

.dashboard-account .card-content h3{
  font-size:18px;
  margin-top: 0;
}

.dashboard-account .card-content p{
  margin-bottom: 5px;
}
.dashboard-account .card-content p:first-of-type{
  margin: 10px 0 5px;
}

.dashboard-account .card-content a{
  margin:5px 0 0 0;
  display: inline-block;
  margin:10px 0 0 0;
}

.dashboard-account .card-content a:hover{
  text-decoration: underline;
}

.dashboard-account .card-content a i{
  vertical-align: bottom;
}


/*  informations personnelles  */
.informations-personnelles-account{
  display: none;
}
.informations-personnelles-account.active-account{
  display: block;
}

/* Commandes  */
.commandes-account,
.ventes-account,
.commentaires-account,
.creer-vente-account{
  display: none;
}

.commandes-account.active-account,
.ventes-account.active-account,
.commentaires-account.active-account,
..creer-vente-account.active-account{
  display: block;
}
.commandes-account table.striped > tbody > tr:nth-child(2n+1){
  background: #bbdefb ;
}
.ventes-account table.striped > tbody > tr:nth-child(2n+1){
  background: #d1c4e9 ;
}

.commentaires-account .card-content{
  margin:20px 0;
}

/* Page connection  */

.subscribe{
  border-left: 1px solid #ededed;
}

.subscribe ul{
  margin:20px 0 20px 20px;
}

.subscribe ul li{
  list-style: square;
  list-style-position: inside;
  padding: 10px 0;
}

.subscribe p.required-fields{
  text-align: right;
}

.subscribe p.required-fields i{
  width:20px;
}

.subscribe form .row{
  position: relative;
}

.subscribe form p.required-fields{
  position: absolute;
  right:0;
  top:0;
}

#select_pays input{
  margin-left: 3rem;
  width: calc(100% - 3rem);
}
