 <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Modifier les pages | Pila</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
      <!-- Import custom rules -->
      <link type="text/css" rel="stylesheet" href="../css/custom_rules.css" media="screen,projection">

      <!--Let browser know website is optimied for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<!-- ======================================================================= -->
    <body>
      <header>
        <!-- Top bar -->
        <nav class="top-nav blue darken-4">
          <div class="container">
            <div class="nav-wrapper">
                <!-- Bouton pour afficher la sidebar-->
                <a href="" class="button-collapse" data-activates="slide-out"><i class="mdi-navigation-menu"></i></a>

                <a href="#!" class="breadcrumb">Back-office</a>
                <a href="../Dashboard/dashboard.html" class="breadcrumb"> Pages</a>
                <a href="../Dashboard/dashboard.html" class="breadcrumb"> Modifier les pages</a>
            </div>
          </div>
        </nav>
<!-- ======================================================================= -->
        <!-- Barre latérale -->
        <ul id="slide-out" class="side-nav fixed">
          <!-- Header/logo Pila-->
          <li class="blue darken-4 white-text valign-wrapper" style="height:64px;">
            <img src="../images/logo.png" alt="Logo Projet Pila" style="max-height:80%">
          </li>

          <!-- Infos sur l'utilisateur connecté -->
          <li class="yellow accent-4 center-align">
           <i class="material-icons user-icon">person</i> Thomas Moraine
          </li>

          <!-- Liste des catégories-->
          <ul class="collapsible" data-collapsible="accordion">
              <!-- Lien vers le Dashboard-->
              <li>
                <div class="collapsible-header blue-text text-darken-4">
                  <i class="material-icons">view_module</i>
                  <a href="../Dashboard/dashboard.html" class="categorie_menu">Dashboard</a></div>
              </li>
              <!-- Sous-menu Utilisateurs -->
              <li>
                <div class="collapsible-header"><i class="material-icons">group</i>
                  <span class="categorie_menu">Utilisateurs</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li><a href="../Utilisateurs/creer_utilisateur.html" class="sidebar-link">Créer un compte</a></li>
                    <li><a href="../Utilisateurs/chercher_utilisateur.html" class="sidebar-link">Chercher un utilisateur</a></li>
                    <li><a href="../Utilisateurs/liste_utilisateurs.html" class="sidebar-link">Liste des utilisateurs</a></li>
                  </ul>
                </div>
              </li>
              <!-- Sous-menu Catalogue -->
              <li>
                <div class="collapsible-header"><i class="material-icons">library_books</i>
                  <span class="categorie_menu">Catalogue</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li><a href="../Catalogue/creer_article.html" class="sidebar-link">Créer un article</a></li>
                    <li><a href="../Catalogue/chercher_article.html" class="sidebar-link">Chercher un article</a></li>
                    <li><a href="../Catalogue/creer_critere.html" class="sidebar-link">Créer un critère</a></li>
                    <li><a href="../Catalogue/liste_criteres.html" class="sidebar-link">Liste des critères</a></li>
                  </ul>
                </div>
              </li>
              <!-- Sous-menu Commandes -->
              <li>
                <div class="collapsible-header"><i class="material-icons">shopping_cart</i>
                  <span class="categorie_menu">Commandes</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li><a href="../Commandes/chercher_commande.html" class="sidebar-link">Chercher une commande</a></li>
                  </ul>
                </div>
              </li>
             <!--  <li>
                <div class="collapsible-header"><i class="material-icons">extension</i>
                  <span class="categorie_menu">Modules</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li>Installer un module</li>
                    <li>Liste des modules</li>
                  </ul>
                </div>
              </li> -->

              <!-- Sous-menu Pages -->
              <li>
                <div class="collapsible-header active"><i class="material-icons">web</i>
                  <span class="categorie_menu">Pages</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li class="active"><a href="../Pages/modif_pages.html" class="sidebar-link">Modifier les pages</a></li>
                  </ul>
                </div>
              </li>

              <!-- Sous-menu Statistiques -->
              <li>
                <div class="collapsible-header"><i class="material-icons">timeline</i>
                  <span class="categorie_menu">Statistiques</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li>Sous-menu Stats</li>
                  </ul>
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">settings</i>
                  <span class="categorie_menu">Paramètres</span>
                </div>
                <div class="collapsible-body">
                  <ul class="center-align blue-text text-darken-4">
                    <li>Sous-menu Paramètres</li>
                  </ul>
                </div>
              </li>
            <!-- Déconnexion -->
              <li>
                <div class="collapsible-header">
                  <i class="material-icons user-icon">exit_to_app</i>
                  <span> Déconnexion</span>
                </div>
              </li>
          </ul>
          <!-- Fin de la liste des menus-->
        </ul>
        <!-- Fin de la sidebar-->
      </header>
<!-- ======================================================================= -->
      <!-- CONTENU PRINCIPAL-->
      <main class="grey lighten-4">
        <!-- Conteneur -->
        <div class="container">
          <!-- Center row -->
          <div class="row ">
            <div class="col s12 center-align">
<!-- ======================================================================= -->
              <!-- Carte principale -->
                <div class="row">
                  <div class="col s12">
                    <div class="card hoverable">
                      <div class="card-content">
                        <span class="card-title"><i class="material-icons">web</i> Pages</span>

                        <!-- Titre -->
                        <div class="row">
                          <div class="input-field col s12">
                            <input placeholder="Entrez le titre ici" id="titre_page" type="text" class="validate">
                            <label for="titre_page">Titre de la page</label>
                          </div>
                        </div>

                        <!-- Description -->
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="description_page" class="materialize-textarea" placeholder="Entrez la description ici"></textarea>
                             <label for="description_page">Description de la page</label>
                          </div>
                        </div>

                        <!-- Contenu -->
                        <div class="row">
                          <div class="input-field col s12">
                            <textarea id="contenu_page" class="materialize-textarea" placeholder="Entrez le contenu ici"></textarea>
                             <label for="contenu_page">Contenu de la page</label>
                          </div>
                        </div>

                        <!-- Type de page -->
                        <div class="row">
                          <div class="input-field col s12">
                          <select id="type_page" name="type_page">
                            <option value="" disabled selected>Sélectionner</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                          </select>
                          <label for="type_page">Type de page</label>
                          </div>
                        </div>

                        <!-- Bouton d'envoi du formulaire-->
                              <div class="row">
                                <div class="col s12">
                                  <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Valider
                                  <i class="material-icons right">send</i>
                                </button>
                                </div>
                              </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </main>
<!-- ======================================================================= -->
      <!-- FOOTER -->
      <footer class="page-footer blue darken-4 white-text">
            <div class="container">© 2014 Damien Léry, Thomas Moraine et Ludovic Sire
            <span class="right">Réalisé avec <a href="http://materializecss.com/">Materialize CSS</a>
               (<a href="../Legal/LICENSE.txt">Licence</a>)</span>
            </div>
        </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>

      <!-- Gère l'affichage de la sidebar -->
      <script type="text/javascript" src="../js/affichage-sidebar.js"></script>

      <!-- Initialisation des Select -->
      <script>
         $(document).ready(function() {
    $('select').material_select();
  });
      </script>
    </body>
  </html>
