div.produit{
  padding:10px 0 20px;
}

div.produit .input-field select{
  display: block;
}

div.produit p.infos-produit{
  margin: 20px 0 10px 0;
}

div.produit p{
  line-height: 1.1;
}

.breadcrumb::before{
    color: #64b5f6;
}

div.meilleures-ventes{
  padding:10px 0 20px;
}

div.meilleures-ventes p{
  line-height: 1.1;
  font-size: 14px;
  text-transform: none;
  margin: 5px;
}


/* Liste_produits*/
.liste_produits div.card-content::after{
  content:"";
  display: table;
  clear:both;
}
span.card-title.activator i{
  margin-top: 12px;
}

div.card-reveal p:first-of-type{
  margin-top: 10px;
}

div.card-reveal a.btn{
  padding: 0 1rem;
}

div.card-reveal a i{
  font-size: 19px;
  margin-right: 5px;
}

.pagination li.active{
  background: #64b5f6;
  vertical-align: middle;
}


/* filter bar  */
.nav-filter{
  position: absolute;
  left:0;
  top:0;
  z-index: 2;
  width:15%;
  height: 100%;
}

.nav-filter nav{
  height: inherit;
  line-height: 1;
}

.nav-filter h3{
  margin:0;
  padding: 10px 0;
  //border-bottom:1px solid #3f51b5;
}


.nav-filter nav ul{
  width: 100%;
}
.nav-filter nav ul li{
  float: none;
  margin:0 auto;
}
.nav-filter .dropdown-content li > a,
.nav-filter .dropdown-content li > span{
  color:#2196f3;
}
.nav-filter .select-dropdown{
  text-indent: 20px;
}

.nav-filter .select-wrapper span.caret{
  right:20px;
  color:#ffffff;
}

.nav-filter .checkboxes{
  margin:10px 0;
}

.nav-filter .checkboxes p{
  text-indent: 10px;
}
.nav-filter .checkboxes [type="checkbox"] + label{
  padding-left: 15px;
}

.nav-filter #filtre_prix{
  width:96%;
  margin: 10px auto;
}

.nav-filter .noUi-horizontal .noUi-handle{
  width:28px;
  border-radius: 28px;
}

.nav-filter .noUi-handle::after{
  left:10px;
}

.nav-filter .noUi-connect{
  background: #2196f3;
}

/* Notation  */

div.notation{
  background: url("../img/star-nb.png") no-repeat;
  height:15px;
  width:75px;
  overflow-x:hidden;
  background-size: 150px 15px;
}

div.notation.etoile0{
  background-position: -75px 0;
}
div.notation.etoile1{
  background-position: -60px 0;
}
div.notation.etoile2{
  background-position: -45px 0;
}
div.notation.etoile3{
  background-position: -30px 0;
}
div.notation.etoile4{
  background-position: -15px 0;
}
div.notation.etoile5{
  background-position: 0 0;
}
